body {
  margin-left: 150px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 60px;
  float: right
}

.col-md-4 {
  padding-top: 13px;
}

h1 {
  text-align: center;
}

.navbar a {
  color: black;
}

.navbar a:hover {
  color: #2980b9;
}

img {
  width: 500px;
}
